*{
    margin: 0 auto;
    padding: 0;
}

body {
    overflow: hidden;
}


#canvas {
    position: absolute;
    left: 160px;
    top: 0;
    cursor: none;
    overflow: hidden;
    z-index: 0;
}

.custom-cursor{
    position: absolute;
}

.color-bar {
    color: white;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 10px;
}

.color-bar > p:nth-child(1) {
    margin-bottom: 5px;
}

#pen-cursor{
    position: absolute;
    z-index: 10;
    cursor: none;
}

.test{
    position: absolute;
    z-index: 1;
}

.side-bar {
    width: 150px;
    height: 100%;
    position: fixed;
    overflow: auto;

    padding: 10px 0 0 10px;

    background-color:#2b2b2b;
}

#color-indicator {
    fill: black;
    stroke-width: 2px;
    stroke: white;
}


.colors {
    display: grid;
    grid-template-columns: 40% 50%;
    
}

.color-selector {
    width: 40px;
    height: 40px;
    
    margin-top: 12px;

    border-radius: 20px;

    border: 2px white solid;

}

.color-selector:hover{
    border-color: #00a4ff;
    transition: 85ms;
}

.hex-code{
    margin: 14px 0 0 10px;
    color: white;
    grid-column: 1/3;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    letter-spacing: 0.2px;
}

#hex-code-input {
    width: 115px;
}

#hex-code-input:focus {
    outline: none;
}

.buttons {
    display: grid;
    grid-template-columns: 40% 50%;
    margin-top: 10px;
}

.range {
    margin: 5px 0 5px 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    letter-spacing: 0.5px;

    grid-column: 1/3;
}

.utility-button {
    background: #ADC6D9;
    border-radius: 50%;
    padding: 4px;
    margin-top: 12px;
    
    border: 2px solid #2b2b2b;
}

.utility-button:nth-of-type(1){
    border: 2px solid #007ee0;
}

.utility-button:hover {
    background: #89b6d9;
    transition: 85ms;
}

#size-slider{
    width: 120px;
}

.download{
    margin-top: 50px;
    grid-column: 1/3;
}

#download-canvas{
    padding: 4px 20px 5px 20px;
    border-radius: 15px;
    background: #ADC6D9;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    color: #2b2b2b;


    outline: none;
    border: none;
}

#download-canvas:hover{
    background: #89b6d9;
    transition: 85ms;
}
